<!DOCTYPE html>
<title>GrandPy Bot</title>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>

    <body>
        <div class="container">
            <header class="row" id="head-content">
                <div class="col-lg-12">
                    <div class="row align-items-center">
                        <div class="col-sm-2 text-center">
                            <img src="{{ url_for('static', filename='img/grandpy-bot.png') }}"  alt="GrandPy Bot" id="head-img" />
                        </div>
                        <div class="col-sm-10 text-center">
                            <h1 id="site-title">GrandPy Bot, le papy-robot</h1>
                            <p> Vous cherchez une adresse ? GrandPy la trouve... et vous en raconte son histoire !</p>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Dialog and form -->
            <div class="row">
                <div class="col-sm-6 offset-sm-3 table-responsive-sm" id="answer">
                    <table class="table table-bordered table-striped table-sm table-hover" id="dialog">
                    </table>
            </div>
            <div class="col-sm-6 offset-sm-3 align-items-center" id="testForm">
                    <form id="form">
                        <div class="form-group text-center">
                            <label for="text">Quelle adresse souhaitez-vous que GrandPy vous donne ?</label>
                            <input id="text" type="text" class="form-control">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <!-- Map & Wiki info - to be displayed after first user's request -->
            <div class="row">
                <div class="col-sm-6" id="map"></div>
                <div class="col-sm-6" id="wiki"></div>
            </div>

            <!-- js scripts-->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key={{ config['MAP_API_KEY'] }}&libraries=places" async defer></script> 
            <script src="{{ url_for('static', filename='js/loadingView.js') }}"></script>
            <script src="{{ url_for('static', filename='js/grandpy.js') }}"></script>

            <footer class="row align-items-center">
                <div class="col-sm-3 offset-sm-2" id="auteur">
                    Christophe Gressin - 2019
                </div>
                <div class="col-sm-3 offset-sm-1">
                    <div class="btn-group">
                        <a href="https://github.com/lincal2309/GrandPy-Bot"><img src="{{ url_for('static', filename='img/github-logo.png') }}" class="rounded-circle" height="30" alt="Voir le dépôt GitHub"><span>Voir le dépôt GitHub</span></a>
                        <a href="https://www.facebook.com/tof.pasmoi"><img src="{{ url_for('static', filename='img/facebook_logo.png') }}" class="rounded-circle" height="30" alt="Accéder à mon profil Facebook"><span>Accéder à mon profil Facebook</span></a>
                        <a href="https://www.linkedin.com/in/christophe-gressin-developpeur/"><img src="{{ url_for('static', filename='img/LinkedIn_logo.png') }}" class="rounded-circle" height="30" alt="Accéder à mon profil LinkedIn"><span>Accéder à mon profil LinkedIn</span></a>
                        <a href="https://twitter.com/TofDev31"><img src="{{ url_for('static', filename='img/twitter-logo.png') }}" class="rounded-circle" height="30" alt="Accéder à mon profil Twitter"><span>Accéder à mon profil Twitter</span></a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>