@font-face {
    font-family: 'TarponMotel';
    src: url('../font/TarponMotel-webfont.eot') format('eot'),
         url('../font/TarponMotel-webfont.woff') format('woff'),
         url('../font/TarponMotel-webfont.ttf') format('truetype'),
         url('../font/TarponMotel-webfont.svg') format('svg');
}

#wiki
{
    text-align: center;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 50px;
}

body
{
    background: #e7e5e5;
    display: flex;
}

#site-title
{
    text-align: center;
    font-family: TarponMotel, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-shadow: 3px 3px 5px black;
}

#head-img
{
    max-height: 100px;
}

h1 + p
{
    font-family: TarponMotel, Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin-top: 10px;
}

header
{
    margin-top: 5px;
    background-color: whitesmoke;
}


footer
{
    text-align: center;
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: whitesmoke;
}

#form, #answer
{
    margin-top: 30px;
}

.rounded-circle
{
    /* Overcharge default class with an additional specific property */
    margin-left: 5px;
}

#auteur
{
    text-align: center;
    font-family: TarponMotel, Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.user_dlg
{
    font-style: italic;
}

.new_dlg
{
    color: cornflowerblue;
}

#map
{
    min-height: 500px;
}

/* Popup position and properties */
a span{ 
    position:absolute;
    margin-top:25px; 
    margin-left:-25px;
    color:#fff; 
    background:rgba(172, 166, 166, 0.603); 
    padding:10px; 
    border-radius:6px; 
    max-height: 50px;
    min-width: 250px;
    text-align: center;
    
    /* Initial popup collapse */
    transform:scale(0) rotate(-180deg);
    /* Duration of effect */
    transition:all .25s;
    opacity:0;
}

/* Set scale to 1 to make the popup appear */ 
a:hover span, a:focus span{ 
    transform:scale(1) rotate(0);
    opacity:1;
}